<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <h3><a class="navbar-brand" th:href="@{'/filter/{filter}/?sort={sort}' (filter = 'ALL', sort = 'createDate,asc')}">Home</a></h3>
                <p><a href="#" th:href="@{/new}">New Note</a></p>
                <p><b>Views</b></p>
                <ul class="dropdown-menu">
                    <li><a th:href="@{'/filter/{filter}' (filter = 'ALL')}">All</a></li>
                    <li><a th:href="@{'/filter/{filter}' (filter = 'DONE')}">Done</a></li>
                    <li><a th:href="@{'/filter/{filter}' (filter = 'UNDONE')}">Not Done</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>