<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{'/filter/{filter}/?sort={sort}' (filter = 'ALL', sort = 'createDate,asc')}">Home</a>
                <a th:href="@{/new}">New Note</a>
                <div class="dropdown">
                    <a class="views">Views</a>
                    <div class="dropdown-content">
                        <a th:href="@{'/filter/{filter}' (filter = 'ALL')}">All</a>
                        <a th:href="@{'/filter/{filter}' (filter = 'DONE')}">Done</a>
                        <a th:href="@{'/filter/{filter}' (filter = 'UNDONE')}">Undone</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</html>