<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="notebook">
    <div class="table-responsive">
        <table class="table table-striped custom-table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Message</th>
                <th scope="col" class="dropdown">Created date
                    <a th:href="@{'/?sort={sort}' (sort = 'createDate,asc')}"><i class="fa fa-chevron-circle-up"></i></a>
                    <a th:href="@{'/?sort={sort}' (sort = 'createDate,desc')}"><i class="fa fa-chevron-circle-down"></i></a>
                </th>
                <th scope="col">Done</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <tr scope="row" th:each="note : ${notes}">
                <td th:text="${note.id}" style="text-align: center">ID</td>
                <td th:text="${note.message}">Message</td>
                <td th:text="${#dates.format(note.date, 'EEE, d MMM yyyy HH:mm')}" style="text-align: center">Created date</td>
                <td style="text-align: center">
                    <i th:if="${note.done} == true" class="fa fa-plus-square-o" style="font-size:20px;color:#337ab7"></i>
                    <i th:if="${note.done} == false" class="fa fa-minus-square-o" style="font-size:20px;color:#337ab7"></i>
                </td>
                <td style="text-align: center"><a th:href="@{'/edit/{id}'(id=${note.id})}"><i class="fa fa-edit" style="font-size:20px"></i></a></td>
                <td style="text-align: center"><a th:href="@{'/delete/{id}'(id=${note.id})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>